.warehouse-page-copy {
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}